<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="My app">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENV" value="testing"/>
        <env name="DB_NAME" value="mydb-tests"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="root"/>
        <env name="DB_PORT" value="8889"/>
        <env name="DISPLAY_ERRORS" value="1"/>
    </php>
</phpunit>