<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <title>Home</title>

    <!--  CSS  -->
    <link href="public/css/style.css" rel="stylesheet"/>

    <!--  Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>

    <p>
        Hello {{ name }}! <i class="far fa-smile"></i><br>
        Today is {{ today }}
    </p>

    <footer>
        &copy; <span id="copy"></span>
    </footer>

    <!--  JavaScript  -->
    <script src="public/js/scripts.js"></script>
</body>
</html>
